body {
    background: white;
  }
  p {
    color: black;
  }
  h1 {
    font-weight: bold;
   color: #F0F8FF;
  }
  h3{
    color: #F0F8FF;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  
